<!--Howard Song-->
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/styles.css">
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        <title>Travel-Expert</title>
        <style>	
            p {
                font-weight:bold;
            }
            footer {
                position: absolute;
                top: 1250px;
                width: 100%;
                text-align: center;
            }
			.contactRed {
				color:red;
			}
        </style>
    </head>
    <body class="contactBody">
        <div class="w3-container"><%- include('../partials/header') %></div>
        
        <div class="contactInfo">
            <h2>Travel-Experts.ltd</h2><br />
            <p>Business Phone: 1(403)222-2222</p><br />
            <p>Email: travelexperts@bussiness.com</p><br />
            <p>Location: 1301 16 Ave NW, Calgary AB T2M 0L4</p><br />
        </div><br />
        <div class="contactSelect">
        <p class="contactRed">Contact Our Superstar travel agents!!!</p>
            <select id="select" onchange="onChange(this.value)">
                <% result.forEach(function(agent, i) { %>
                    <option value="<%= agent.AgtBusPhone%> <%= agent.AgtEmail %>"><%= agent.AgtFirstName %> <%= agent.AgtLastName %></option>
                <% }); %>
            </select>
            <p id="label">Default Text</p>
        </div>
        <footer>
            <p>Copyright &copy; To Travel-Experts(TEAM 5) Inc. 2023</p>
        </footer>
        <script>
			function onChange() {
				var x = document.getElementById("select").selectedIndex;
                var info = document.getElementsByTagName("option")[x].value;
				document.getElementById("label").innerHTML = info  ;
			}
            
            document.onscroll = function () {
                if (window.innerHeight + window.scrollY > document.body.clientHeight) {
                    document.getElementsByClassName('contactSlide').style.display = 'none';
                }
                else {
                    document.getElementsByClassName('contactSlide').style.display = 'block';
                }
            }
			/*document.onscroll = function () {
				if (window.innerHeight + window.scrollY > document.body.clientHeight) {
					var contactSlides = document.getElementsByClassName('contactSlide');
					for (var i = 0; i < contactSlides.length; i++) {
						contactSlides[i].style.display = 'none';
					}
				}
				else {
					var contactSlides = document.getElementsByClassName('contactSlide');
					for (var i = 0; i < contactSlides.length; i++) {
						contactSlides[i].style.display = 'block';
					}
				}
			};*/
        </script>
    </body> 
</html >