<!--Howard Song-->
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/styles.css">
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        <title>Travel-Expert</title>
        <link rel="stylesheet" href="/styles.css"/>
        <style>
			
            /*link to other pages*/
            /* ul {
                list-style-type: none;
                padding: 0px;
                margin: 0px;
                overflow: hidden;
            }
            li {
                float: left;
            }
            a:link, a:visited {
                display: block;
                font-weight: bold;
                color: white;
                background-color: skyblue;
                width: 359px;
                text-align: center;
                padding: 10px;
                text-decoration: none;
                text-transform: uppercase;
            } 
            a:hover {
                background-color: red
            } */
            /*contact info*/
            div.info {
                position: absolute;
                top: 950px;
                text-align: center;
                background-color: #333;
                color: #fff;
                padding: 20px;
                width: 100%;
            }
            p {
                font-weight:bold;
            }
            footer {
                position: absolute;
                top: 1350px;
                width: 100%;
                text-align: center;
            }
            .textChange {
                position: absolute;
                top:1100px;
                left: 20%;
                transition: color 0.3s ease;
                cursor: pointer;
                width:1200px;
                
            }
            .textChange:hover {
                color: red;
            }
        </style>
    </head>
    <body class="contactBody">
        <div class="w3-container"><%- include('../partials/header') %></div>
        <div class="contactInfo">
            <h2>Travel-Experts.ltd</h2><br />
            <p>Business Phone: 1(403)222-2222</p><br />
            <p>Email: travelexperts@bussiness.com</p><br />
            <p>Location: 1301 16 Ave NW, Calgary AB T2M 0L4</p><br />
        </div><br />
        <h1 class="textChange" id="text">Package Sales!</h1>
        <div class="contactSlide">
            <p id="moveText">&#8691 Contact Our Superstar travel agents!!! &#8691</p>
        </div>
        <div class="contactSelect">
            <select id="select" onchange="onChange(this.value)">
                <% result.forEach(function(agent, i) { %>
                    <option value="<%= agent.AgtBusPhone%> <%= agent.AgtEmail %>">
                        <%= agent.AgtFirstName %> <%= agent.AgtLastName %>
                    </option>
                <% }); %>
            </select>
            <p id="contactLabel">Call to check Limited-Timer Offer </p>
        </div>
        <footer>
            <p>Copyright &copy; To Travel-Experts(TEAM 5) Inc. 2023</p>
        </footer>
        <script>
			function onChange() {
				var x = document.getElementById("select").selectedIndex;
                var info = document.getElementsByTagName("option")[x].value;
				document.getElementById("contactLabel").innerHTML = info  ;
			}

            document.addEventListener('DOMContentLoaded', function() {
                var textElement = document.getElementById('text');
                var phrases = [
                    'Limited-Time Offer:Asian Expedition - Now just2800 CAD  for 14 days!', 
                    'Hello', 
                    'Nice to meet you', 
                    'Glad you came'
                ];
                var currentIndex = 0;

            textElement.addEventListener('click', function() {
                currentIndex = (currentIndex + 1) % phrases.length;
                textElement.innerHTML = phrases[currentIndex];
                });
            });

            
            document.onscroll = function () {
                if (window.scrollY > "10px") {
                    document.getElementById('moveText').style.position = 'absolute';
                }
                else {
                    document.getElementById('moveText').style.position = 'fixed';
                }
            }
			/*document.onscroll = function () {
				if (window.innerHeight + window.scrollY > document.body.clientHeight) {
					var contactSlides = document.getElementsByClassName('contactSlide');
					for (var i = 0; i < contactSlides.length; i++) {
						contactSlides[i].style.display = 'none';
					}
				}
				else {
					var contactSlides = document.getElementsByClassName('contactSlide');
					for (var i = 0; i < contactSlides.length; i++) {
						contactSlides[i].style.display = 'block';
					}
				}
			};*/
        </script>
    </body> 
</html >