<!--Cameron Olmats-->
<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Purchase page</title>
		<script>
			function openPurchaseWindow(choice) {
				window.open("/purchasewindow");
			}
		</script>
		<link rel="stylesheet" href="/styles.css"/>
		<style>
			table {
				position: relative;
				width:100%;
				margin-left: 30%
				
			}
			html, body {
				 height: 100%; 
				 width: 100%; 
				 margin: 0;
			}
			/* .package-choice {
			} */
		</style>
	</head>
	<!--Should we be worried about XML compatability? I forget the things he did in class to support XML.-->
	
	<!---->
	<body class="packagesBody">
		<!--Uniform Nav Bar-->
		<%- include('../partials/header') %>

		<nav class="packagesNav">
			<ul>
				<% packages.forEach(function(packages, i) { %>
					<li>
						<a href="packages#para<%=i%>"><%= packages.PkgName  %></a>
					</li>
				<% }); %>
			</ul>
		</nav>
		<!--Rounded corners for main content-->
		<div id="mainContentBorder">
		<!--Scroll box for travel package options-->
			<div class="packagesMainContent">
				<p id="para0">
		
					<%= packages[0].PkgName%><br/>
					
					Morbi accumsan erat justo, in pulvinar velit imperdiet eget. Nam id felis id erat facilisis tempor at sit amet nisl. In eget neque quis erat elementum euismod vitae id mi. Donec et orci leo. Cras et arcu fermentum, pharetra augue sed, porta ex. Vivamus iaculis cursus justo et aliquam. Maecenas congue arcu ac dignissim ullamcorper. Aliquam ut lobortis velit. Nam mauris dui, vestibulum varius ante sed, feugiat feugiat metus. Aliquam ut ullamcorper nisl. Integer at convallis ligula. Praesent ornare justo risus, a vulputate magna porta a. Cras massa dui, consectetur sit amet orci nec, laoreet imperdiet nulla. Donec sodales lectus convallis dui vestibulum vulputate.
				</p><br/>
				<img class="travelPackageImages" src="./images/maldives.jpg"/>
				<button class="purchaseButton" type="button" onclick="openPurchaseWindow('package2')">Purchase</button><br/>

				<!-- Template for purchase options. -- Maybe use ejs to put this in an external function and then iterate to create the list?
				
				
				</p><br/>
				<img/>
				<button class="purchaseButton" type="button" onclick="openPurchaseWindow('package2')">Purchase</button><br/>
				-->
				
				<!----------------->
				
				<p class="paragraphTest" id="para1">

					<%= packages[1].PkgName%><br/>

					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin gravida eros a lacus venenatis lobortis. Ut ultricies lacinia laoreet. Etiam pellentesque sodales urna sit amet egestas. Vestibulum sit amet sodales lectus. Nam eleifend hendrerit fermentum. Donec cursus commodo enim sit amet condimentum. Donec pretium, magna quis ullamcorper pretium, dui turpis tempor dolor, id hendrerit nisi dolor sed arcu.

					Praesent iaculis tellus sit amet vulputate scelerisque. Mauris ante felis, molestie id lacinia sit amet, condimentum non nulla. Donec et risus porta, interdum lacus ac, cursus ligula. Nulla facilisi. Nunc non turpis at ante varius semper. Duis ac pretium quam, nec viverra erat. Maecenas vitae dictum lorem, id iaculis urna. Curabitur quis efficitur metus. Cras dictum, ipsum nec maximus suscipit, diam erat vehicula eros, quis placerat arcu justo at eros.
				</p><br/>
				<img class="travelPackageImages" src="./images/imgset/newyork.jpg"/>
				<button class="purchaseButton" type="button" onclick="openPurchaseWindow('package1')">Purchase</button><br/>
				
				<!--Why does the public folder not need to be mentioned?-->
				<!----------------->
				
				<p class="paragraphTest" id="para2">

					<%= packages[2].PkgName%><br/>
					Mauris sapien nisi, fermentum et tincidunt vitae, gravida vel odio. Quisque vitae odio mauris. Sed in nibh nisi. Quisque sit amet arcu ullamcorper, sodales turpis ut, blandit orci. Pellentesque ipsum urna, ultricies eget molestie vitae, luctus eu nunc. Mauris eu arcu feugiat, molestie ex eu, aliquet lorem. Etiam sit amet bibendum nibh. Quisque tempus magna in volutpat sollicitudin. Nullam aliquam sapien rhoncus odio congue maximus. Fusce id lacus vitae urna pellentesque commodo. Donec porttitor velit nulla, vitae congue felis euismod et. Nulla eu placerat nulla. Nulla dapibus justo sit amet leo molestie, sit amet tincidunt nunc posuere. Aliquam mattis neque in commodo porta. Phasellus ullamcorper, ante nec lacinia malesuada, tellus velit aliquam ex, a euismod orci nunc non mi.
				</p><br/>
				<img class="travelPackageImages" src="./images/imgset/larchdetriomphe.jpg"/> 
				<button class="purchaseButton" type="button" onclick="openPurchaseWindow('package2')">Purchase</button><br/>
				
				<!----------------->
				
				<p class="paragraphTest" id="para3">

					<%= packages[3].PkgName%><br/>
					Integer a convallis erat. Nulla et nisl nisi. Donec libero est, mollis in nisl non, aliquam rutrum leo. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Pellentesque urna ligula, finibus in ante ut, luctus elementum lorem. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin viverra leo metus, sit amet posuere ex interdum a. Donec consectetur erat quis rutrum viverra. Quisque imperdiet quam vel leo egestas, id tempor lacus iaculis. Nulla facilisi. Mauris feugiat ante fringilla, egestas lacus sed, suscipit mauris. Morbi accumsan arcu eu fermentum efficitur. Curabitur cursus justo et odio pellentesque, vel aliquet erat finibus. Curabitur molestie lorem a varius luctus. Phasellus eget vehicula metus. 
				</p><br/>
				<img class="travelPackageImages" src="./images/imgset/sweden.JPG"/>
				<button class="purchaseButton" type="button" onclick="openPurchaseWindow('package3')">Purchase</button><br/>
				
				<!----------------->
				
				<p id="data4">
					Vestibulum venenatis erat et ex bibendum iaculis. Nullam elementum, odio ac scelerisque venenatis, ligula urna pretium turpis, et accumsan nisi eros non diam. Nulla dignissim orci et eleifend aliquam. Aenean porta nisi eget arcu mollis cursus. In sodales nibh nunc, sit amet venenatis mi volutpat ultricies. Vivamus metus libero, aliquam nec sodales a, sagittis quis erat. Quisque facilisis massa nec lorem dictum, id elementum elit imperdiet. Suspendisse potenti. Curabitur pretium vehicula ligula sit amet tristique. Ut pellentesque mauris vitae mauris fringilla, et egestas odio condimentum. Curabitur eget congue odio. Maecenas semper enim vel ligula cursus, ac tristique metus auctor.
				</p><br/>
				<img class="travelPackageImages" src="./images/imgset/sculpture.jpg"/>
				<button class="purchaseButton" type="button" onclick="openPurchaseWindow('package4')">Purchase</button><br/>
				
				<!----------------->
				
				<p id="data5">
					Nam vitae consectetur urna, a finibus libero. Pellentesque elit sem, finibus nec elementum non, hendrerit non metus. Mauris scelerisque faucibus vulputate. Mauris fringilla ligula eget leo efficitur, at consequat lectus scelerisque. Etiam sollicitudin sem erat, placerat semper eros condimentum non. Maecenas quam augue, laoreet eget massa et, lobortis consequat mi. Pellentesque luctus et enim sit amet malesuada. Nulla sit amet cursus leo, nec suscipit neque. 
				</p><br/>
				<img class="travelPackageImages" src="./images/imgset/tower.jpg"/>
				<button class="purchaseButton" type="button" onclick="openPurchaseWindow('package5')">Purchase</button><br/>
			</div>
		</div>
		
	
		<footer class="packagesFooter">
			<p> Travel Experts - <a style="text-decoration: none;" href="contact">contact</a></p>
		</footer>
	</body>
</html>