<!--Cameron Olmats-->
<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Purchase page</title>
		<script>
			function openPurchaseWindow(choice) {
				window.open("/purchasewindow");
			}
		</script>
		<link rel="stylesheet" href="/styles.css"/>
		<style>
			table {
				position: relative;
				width:100%;
				margin-left: 30%
				
			}
			html, body {
				 height: 100%; 
				 width: 100%; 
				 margin: 0;
			}
			/* .package-choice {
			} */
		</style>
	</head>
	<!--Should we be worried about XML compatability? I forget the things he did in class to support XML.-->
	
	<!---->
	<body class="packagesBody">
		<!--same nav bar as on register.html-->
		<%- include('../partials/header') %>
		<nav class="packagesNav">
			<ul>
				<% packages.forEach(function(packages, i) { %>
					<li>
						<a href="packages#para<%=i%>"><%= packages.PkgName  %></a>
						<script> console.log(document.getElementById(i).href) </script>
					</li>
				<% }); %>
			</ul>
		</nav>
		<!--Rounded corners for main content-->
		<div id="mainContentBorder">
		<!--Scroll box for travel package options-->
			<div class="packagesMainContent">
				<p id="para0">
		
					<%= packages[0].PkgName%><br/>
					
					Start your new year strong with the <%= packages[0].PkgName%> Package. On this trip you'll find yourself enjoying
					beaches of [CITY NAME] 
				</p><br/>
				<img class="travelPackageImages" src="./images/maldives.jpg"/>
				<button class="purchaseButton" type="button" onclick="openPurchaseWindow('package2')">Purchase</button><br/>
				<!-- Template for purchase options. -- Maybe use ejs to put this in an external function and then iterate to create the list?
				
				<p id="data#">		I used non descriptive id names so that a for loop could automatically make new data.
				
				</p><br/>
				<img/>
				<button class="purchaseButton" type="button" onclick="openPurchaseWindow('package2')">Purchase</button><br/>
				-->
				
				<!----------------->
				
				<p class="paragraphTest" id="para1">
					New York City: Sample text. Sample text. Sample text. Sample text. Sample text. Sample text. 
					Sample text. Sample text. Sample text. Sample text. Sample text. Sample text. Sample text. 
					Sample text. Sample text. Sample text. Sample text. Sample text. Sample text. Sample text. 
					Sample text. Sample text. Sample text. Sample text. Sample text. Sample text. Sample text. 
					Sample text. Sample text. Sample text. Sample text. Sample text. Sample text. Sample text. 
					Sample text. Sample text. Sample text. Sample text. Sample text. Sample text. Sample text. 
				</p><br/>
				<img class="travelPackageImages" src="./images/imgset/newyork.jpg"/>
				<button class="purchaseButton" type="button" onclick="openPurchaseWindow('package1')">Purchase</button><br/>
				
				<!--Why does the public folder not need to be mentioned?-->
				<!----------------->
				
				<p class="paragraphTest" id="para2">
					Paris, France: Sample text. Sample text. Sample text. Sample text. Sample text. Sample text. 
					Sample text. Sample text. Sample text. Sample text. Sample text. Sample text. Sample text. 
					Sample text. Sample text. Sample text. Sample text. Sample text. Sample text. Sample text. 
					Sample text. Sample text. Sample text. Sample text. Sample text. Sample text. Sample text. 
					Sample text. Sample text. Sample text. Sample text. Sample text. Sample text. Sample text. 
					Sample text. Sample text. Sample text. Sample text. Sample text. Sample text. Sample text. 
				</p><br/>
				<img class="travelPackageImages" src="./images/imgset/larchdetriomphe.jpg"/> 
				<button class="purchaseButton" type="button" onclick="openPurchaseWindow('package2')">Purchase</button><br/>
				
				<!----------------->
				
				<p class="paragraphTest" id="para3">
					Location Name: Sample text. Sample text. Sample text. Sample text. Sample text. Sample text. 
					Sample text. Sample text. Sample text. Sample text. Sample text. Sample text. Sample text. 
					Sample text. Sample text. Sample text. Sample text. Sample text. Sample text. Sample text. 
					Sample text. Sample text. Sample text. Sample text. Sample text. Sample text. Sample text. 
					Sample text. Sample text. Sample text. Sample text. Sample text. Sample text. Sample text. 
					Sample text. Sample text. Sample text. Sample text. Sample text. Sample text. Sample text. 
				</p><br/>
				<img class="travelPackageImages" src="./images/imgset/sweden.JPG"/>
				<button class="purchaseButton" type="button" onclick="openPurchaseWindow('package3')">Purchase</button><br/>
				
				<!----------------->
				
				<p id="data4">
					Location Name: Sample text. Sample text. Sample text. Sample text. Sample text. Sample text. 
					Sample text. Sample text. Sample text. Sample text. Sample text. Sample text. Sample text. 
					Sample text. Sample text. Sample text. Sample text. Sample text. Sample text. Sample text. 
					Sample text. Sample text. Sample text. Sample text. Sample text. Sample text. Sample text. 
					Sample text. Sample text. Sample text. Sample text. Sample text. Sample text. Sample text. 
					Sample text. Sample text. Sample text. Sample text. Sample text. Sample text. Sample text. 
				</p><br/>
				<img class="travelPackageImages" src="./images/imgset/sculpture.jpg"/>
				<button class="purchaseButton" type="button" onclick="openPurchaseWindow('package4')">Purchase</button><br/>
				
				<!----------------->
				
				<p id="data5">
					Location Name: Sample text. Sample text. Sample text. Sample text. Sample text. Sample text. 
					Sample text. Sample text. Sample text. Sample text. Sample text. Sample text. Sample text. 
					Sample text. Sample text. Sample text. Sample text. Sample text. Sample text. Sample text. 
					Sample text. Sample text. Sample text. Sample text. Sample text. Sample text. Sample text. 
					Sample text. Sample text. Sample text. Sample text. Sample text. Sample text. Sample text. 
					Sample text. Sample text. Sample text. Sample text. Sample text. Sample text. Sample text. 
				</p><br/>
				<img class="travelPackageImages" src="./images/imgset/tower.jpg"/>
				<button class="purchaseButton" type="button" onclick="openPurchaseWindow('package5')">Purchase</button><br/>
			</div>
		</div>
		
	
		<footer class="packagesFooter">
			<p> hello this is the footer</p>
		</footer>
	</body>
</html>