<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css">
    <title>Welcome</title>
</head>
<body class="welcomeBody">
    <%- include('../partials/header') %>
    <main id="welcomeContainer">
        <!-- very janky, only used as placeholder to show what account page could look like -->
        <div id="welcomeForm">
            <h1 style="text-align: center;">Welcome <%= CustFirstName %>!</h1>
            <div style="float: left;">   
                <h3>Account Details</h3>
                <a href="">Edit</a>
                <h4>Address:</h4>
                <p><%= CustAddress %></p>
                <h4>Postal Code:</h4>
                <p><%= CustPostal %></p>
                <h4>Phone</h4>
                <p><%= CustHomePhone %></p>
                <h4>Email</h4>
                <p><%= CustEmail %></p> 
            </div>
            <div style="float: right; max-width: 200px;">
                <h3>Purchase Details</h3>
                <h4>Packages Purchased:</h4>
                <h4>Carribean</h4>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Asperiores perspiciatis minima ipsa nam magni architecto.</p>
                <h4>Payment</h4>
                <p>4500$</p>
                <a href="/packages">Purchase a new package!</a>
            </div>
        </div>
    </main>
</body>
</html>